@import "./vars.scss";
#contact {
    background: linear-gradient(45deg, #86373f, #742f36, #42171b);
    display: flex;
    flex: 1;
    flex-direction: row;
    height: 100%;
    &.inactive {
        display: none;
    }
    padding: 0 0 0 3em;
    box-sizing: border-box;
    @media screen and (max-width: $smallScreen) {
        padding: 0;
    }
    .contactSection {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    #aboutContent {
        display: flex;
        flex: 1.5;
        flex-direction: column;
        justify-content: center;

        @media screen and (min-width: $smallScreen) {
        }
        #contactHeader {
            font-size: 4.5em;
            font-family: $headerCompFont;
            letter-spacing: 0.1em;
            color: $lightBG;
            font-weight: 500;
            display: flex;
            padding-left: 0.2em;
            padding-top: 1em;
            box-sizing: border-box;
            @media screen and (max-width: $mediumScreen) {
                justify-content: center;
                text-align: center;
                font-size: 4em;
            }
        }
        #contactInfo {
            padding: 0 1em 1em 1em;

            flex: unset;
            align-items: center;
            @media screen and (min-width: $mediumScreen) {
                //med
                align-items: flex-start;
            }

            label {
                font-family: $headerCompFont;
                letter-spacing: 0.1em;
                color: $lightBG;
                font-weight: 500;

                font-weight: 500;
                text-shadow: none;
                font-size: 2.5em;
            }
            #formSeperator {
                display: flex;
                flex-direction: column;
                @media screen and (min-width: $mediumScreen) {
                    //med
                    flex-direction: row;
                }
            }
            #mce-EMAIL {
                margin-right: 1em;
                border-radius: 2.5px;
                font-family: $sansFont;
                padding: 0.25em 0.5em;
            }
            #mc_embed_signup_scroll {
                align-items: flex-start;
                @media screen and (max-width: $mediumScreen) {
                    align-items: center;
                }
            }
            #joinMailingList {
                margin-bottom: 2em;

                display: flex;
                justify-content: center;
                align-items: center;
                form {
                    padding: 0;
                }
            }

            #contactEmail {
                display: flex;
                justify-content: center;
                flex-direction: column;
                margin-bottom: 4em;
                @media screen and (max-width: $mediumScreen) {
                    align-items: center;
                }
                #mailLink {
                    font-family: $sansFont;
                    color: $gold;
                    font-weight: 400;
                    display: flex;
                    justify-content: center;
                    color: white;
                    font-size: 2.25em;
                    text-decoration: none;
                    border-bottom: solid 1px white;
                    padding: 0.15em;
                    cursor: pointer;
                    @media screen and (max-width: $smallScreen) {
                        font-size: 1.5em;
                    }
                }
            }
            #contactSocialMedia {
                #contactSMHeader {
                    font-size: 3.25em;
                    font-family: $headerCompFont;
                    letter-spacing: 0.1em;
                    color: $lightBG;
                    font-weight: 500;
                    @media screen and (max-width: $mediumScreen) {
                        align-items: center;
                        text-align: center;
                    }
                }
                #contactSMIcons {
                    margin-top: 2em;
                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;
                    @media screen and (min-width: $smallScreen) {
                        justify-content: flex-start;
                    }
                    .smIconHolder {
                        cursor: pointer;

                        &:not(:last-child) {
                            margin-right: 2em;
                        }

                        img {
                            max-height: 45px;
                            filter: invert(1);
                            @media screen and (max-width: $smallScreen) {
                                max-height: 1.95em;
                            }
                        }
                    }
                }
            }
            #shopPolicies {
                margin-top: 3em;
                display: flex;
                flex: 1;
                flex-direction: row;
                width: 100%;
                a {
                    text-align: center;
                    @media screen and (max-width: $mediumScreen) {
                        flex: 1;
                    }
                    font-family: $sansFont;
                    color: $gold;
                    font-size: 1.5em;
                    text-decoration: none;
                    &:first-child {
                        margin-right: 2em;
                    }
                }
            }
        }
    }
    #contactImg {
        display: flex;
        flex: 1;
        background-image: url("../assets/contactSide.jpg");
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;
        background-position: top;

        border-left: solid 6px $lightText;
        border-bottom: solid 6px $lightText;
        box-shadow: 0px 0px 10px rgba(rgb(55, 12, 12), 0.95);

        @media screen and (max-width: $mediumScreen) {
            display: none;
        }

        #ghostShape {
            height: 90%;
            width: 85%;
            border: solid 6px $lightText;
            background-color: transparent;
            box-shadow: 0px 0px 15px rgba(rgb(55, 12, 12), 0.95);
        }
    }
}
