@import "./vars.scss";
#contact {
    background-color: white;
    display: flex;

    align-items: center;
    flex-direction: column;
    &.inactive {
        display: none;
    }
    padding: 8em 3em;
    #contactHeader {
        font-size: 5em;
        font-family: $cursiveFont;
        padding: 0.25em;
        display: flex;
    }
    .contactSection {
        display: flex;
        flex: 1;
        flex-direction: column;
        align-items: flex-start;
    }
    #contactText {
        font-size: 1.5em;
        font-size: $sansFont;
        font-weight: 300;
        justify-content: center;
        align-self: center;
        display: flex;
        padding: 2em 0;
        p {
            text-align: center;
        }
        #signOff {
            text-align: center;
        }
    }
    #contactInfo {
        border: solid 1px black;
        border-radius: 5px;
        padding: 1em;
        label {
            color: black;
            text-shadow: none;
        }
        #mce-EMAIL {
            border: solid 1px black;
        }
        #mc_embed_signup_scroll {
            align-items: flex-start;
        }
        #joinMailingList form {
            padding: 0;
        }

        #mailLink {
            display: flex;
            justify-content: center;
            color: green;
            font-size: 1.5em;
            text-decoration: none;
        }
        #contactSocialMedia {
            #contactSMHeader {
                font-size: 4em;
                font-family: $cursiveFont;
;
            }
        }
    }
}
