@import "./vars.scss";

#FAQs {
    background-image: url("../assets/FAQbg.jpg");
    background-size: cover;
    background-position: bottom;
    &.inactive {
        display: none;
    }
    display: flex;
    flex-direction: column;
    padding: 2em 4em;

    @media screen and (max-width: $smallScreen) {
        background-position: right;
        background-attachment: scroll;
    }
    #FAQheader {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $headerFont;
        color: white;

        font-size: 5em;
        margin-top: 0.75em;
        border-bottom: solid 1px black;
        padding-bottom: 0.25em;
        margin-bottom: 0.5em;
        @media screen and (max-width: $smallScreen) {
            font-size: 3em;
        }
    }

    .faqQuestion {
        font-family: $headerFont;
        color: white;
        font-size: 2em;
    }
    .faqAnswer {
        display: block;
        color: white;
        text-align: left;
        font-family: $sansFont;
        font-size: 1.5em;
        padding: 0.5em 1em 2em 1em;
        line-height: 1.35em;
        .footerLink,
        span {
            color: $lightGold;
            cursor: pointer;
            transition: background-color 0.25s, color 0.25s;
            padding: 0.25em;
            border-radius: 5px;
            &:hover {
                background-color: $beige;
                color: $mauve;
            }
        }
        .footerLink {
            display: block;
            margin: 0.5em 0;
            width: fit-content;
            font-size: 0.8;
        }
        &#returnsFAQ {
            .faqSubHeader {
                font-size: 1.2em;
                text-decoration: underline;
                margin-bottom: 0.5em;
            }

            p {
                &:not(:last-child) {
                    margin-bottom: 1em;
                }
            }
        }
    }
}
