@import "/src/components/vars.scss";

#footer {
    width: 100vw;
    max-width: 100%;
    height: 2.5em;
    background-color: $lightPink;
    display: flex;
    padding: 0 2em;
    justify-content: center;
    box-sizing: border-box;
    align-items: center;
    color: white;
    font-size: 1.5em;
    font-family: $sansFont;
    font-weight: 100;
    justify-content: center;
    @media screen and (max-width: $smallScreen) {
        font-size: 1.1em;
        padding: 0 0.45em;
        margin-bottom: 3em;
        height: 2.15em;
    }
    #footerLinks {
        display: flex;
        flex: 1;

        @media screen and (max-width: $smallScreen) {
            justify-content: space-around;
        }
        &.onContact {
            justify-content: flex-end;
            align-items: center;
            justify-content: space-around;
        }
        .linkHolder {
            display: flex;
            justify-content: center;
            align-items: center;
            &:first-child {
                margin-right: 2em;
            }
            @media screen and (max-width: $smallScreen) {
                font-size: 0.75em;
                &:first-child {
                    margin-right: 0;
                }
            }
            .footerLink {
                color: white;
                font-weight: 500;
                text-decoration: none;
                text-align: center;
            }
        }
    }
    .formHolder {
        display: none;
        @media screen and (min-width: $largeScreen) {
            display: block;
        }
        #joinMailingList {
            display: flex;
            height: 100%;
            justify-content: center;
            align-items: center;
            margin: 0;
            > * {
                display: flex;
                height: 100%;
                justify-content: center;
                align-items: center;
            }
            #mc_embed_signup {
                #mc_embed_signup_scroll {
                    flex-direction: row;
                    label {
                        display: none;
                        font-size: 1em;
                        height: 2em;
                    }
                    #formSeperator {
                        display: flex;
                        flex-direction: row;
                        input {
                            font-size: 0.85em;
                            margin: 0 1.1em 0 0;
                            &#mce-EMAIL {
                                font-family: $sansFont;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }
    #footerSMIcons {
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        .smIconHolder {
            height: 2em;
            width: 2em;
            display: flex;
            justify-content: center;
            align-items: center;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
            cursor: pointer;
            &:not(:last-child) {
                margin-right: 0.5em;
            }
            &:hover {
                background: linear-gradient(0deg, rgba(white, 0.2), rgba(white, 0));
                img {
                    margin-bottom: 0.5em;
                }
            }
            @media screen and (max-width: $smallScreen) {
                height: auto;
                width: auto;
            }
            img {
                cursor: pointer;
                filter: invert(1);
                max-height: 1.5em;

                &:not(:last-child) {
                    margin-right: 2em;
                }
                margin-bottom: 0;
                transition: margin-bottom 0.25s;

                @media screen and (max-width: $smallScreen) {
                    &:not(:last-child) {
                        margin-right: 20px;
                    }
                }
            }
        }
    }
}
