@import "/src/components/vars.scss";

#loadingSection {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  width: 100vw;
  justify-content: space-evenly;
  align-items: center;
  color: #453d3d;
  font-size: 4em;

  font-family: $cursiveFont;
  .lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    div {
      top: 32px;
      left: 32px;
      position: absolute;
      width: 32px;
      height: 32px;
      background: $darkPink;
      animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 32px;
        height: 32px;
        background: $darkPink;
      }
      &::before {
        left: -24px;
        border-radius: 50% 0 0 50%;
      }
      &::after {
        top: -24px;
        border-radius: 50% 50% 0 0;
      }
    }
  }
}

@keyframes lds-heart {
  0% {
    transform: scale(0.95);
  }
  5% {
    transform: scale(1.1);
  }
  39% {
    transform: scale(0.85);
  }
  45% {
    transform: scale(1);
  }
  60% {
    transform: scale(0.95);
  }
  100% {
    transform: scale(0.9);
  }
}

#emptyHeartHolder {
  .lds-heart {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
    transform: rotate(45deg);
    transform-origin: 40px 40px;
    div {
      top: 52px;
      left: 52px;
      position: absolute;
      width: 52px;
      height: 52px;
      background: $darkPink;
      animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1);
      &::before,
      &::after {
        content: " ";
        position: absolute;
        display: block;
        width: 52px;
        height: 52px;
        background: $darkPink;
      }
      &::before {
        left: -35px;
        border-radius: 50% 0 0 50%;
      }
      &::after {
        top: -35px;
        border-radius: 50% 50% 0 0;
      }
    }
  }
}
