@import "/src/components/vars.scss";

#shop {
    &.inactive {
        display: none;
    }
    width: 100%;
    background: url("../assets/shopBG_dark.jpg");
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: bottom;

    position: relative;
    display: flex;
    flex-flow: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    transition: opacity 0.25s;
    @media screen and (min-width: $mediumScreen) {
        padding-top: 5em;
        background-size: contain;
    }
    /* Landscape*/

    @media only screen and (min-device-width: 1366px) and (max-device-height: 1024px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
        background-attachment: scroll;
    }

    /* Portrait*/
    @media only screen and (min-device-width: 1024px) and (max-device-height: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
        background-attachment: scroll;
    }
    #bttBtn {
        cursor: pointer;
        position: fixed;
        bottom: 1em;
        right: 0.5em;
        font-size: 4em;
        color: white;
        font-family: $sansFont;
        transform: rotate(90deg);
        background-color: rgba(black, 0.5);
        border-radius: 50%;
        height: 1.1em;
        width: 1.1em;
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 0.1em;
        box-shadow: 5px -5px 9px rgba(black, 0.5);
        z-index: 999;

        background: linear-gradient(-45deg, $lightGold, $darkPink, $mauve, #23d5ab);
        background-size: 400% 400%;
        animation: gradient 15s ease infinite;

        @keyframes gradient {
            0% {
                background-position: 20% 80%;
            }
            25% {
                background-position: 50% 0%;
            }
            50% {
                background-position: 100% 50%;
            }
            75% {
                background-position: 75% 50%;
            }
            100% {
                background-position: 20% 80%;
            }
        }
    }
    #shopHeader {
        height: 55vh;
        width: 100vw;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        flex: 1;
        @media screen and (max-width: $smallScreen) {
            height: 65vh;
        }
        #stsHolder {
            display: flex;
            justify-content: flex-end;
            align-items: flex-end;
            flex-direction: column;
            flex: 3;
            @media screen and (max-width: $smallScreen) {
                justify-content: center;
            }
            #stsL {
                display: flex;
                justify-content: center;
                align-items: flex-start;
                font-size: 15em;
                @media screen and (max-width: $smallScreen) {
                    font-size: 10em;
                }
                font-family: $serifFont;
                color: white;
            }
            #stsR {
                display: flex;
                justify-content: space-evenly;
                align-items: flex-end;
                flex-direction: row;
                .stsSingle {
                    font-size: 4em;
                    font-family: $serifFont;
                    font-family: $serifFont;
                    color: white;
                    text-align: left;
                    margin-right: 0.25em;
                    cursor: pointer;
                    @media screen and (max-width: $smallScreen) {
                        font-size: 2em;
                    }
                }
            }
        }
    }
    #blurb {
        display: flex;
        flex: 1;
        text-align: center;
        justify-content: center;
        align-items: center;
        padding: 0 10%;
        font-size: 1.75em;
        color: white;
        font-size: 100;
        background-color: rgba(black, 0.25);
        @media screen and (max-width: $smallScreen) {
            font-size: 1.4em;
            flex: 2;
            font-family: $sansFont;
        }
    }
    #shopMenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        width: 90%;
        font-size: 2em;
        height: 2.5em;
        flex-wrap: wrap;

        @media screen and (max-width: $smallScreen) {
            font-size: 1.5em;
            width: 80%;
            height: auto;
            margin-top: 1em;
        }
        .shopSectionNavItem {
            font-family: $serifFont;
            color: white;
            background-color: rgba(white, 0.25);
            border-radius: 10px;
            padding: 0 0.1em;
            display: flex;
            flex: 1;
            text-align: center;
            justify-content: center;
            padding: 0.2em;
            margin: 0.5em;
            transition: background-color 0.25s, color 0.25s, margin-bottom 0.25s;
            cursor: pointer;
            box-sizing: border-box;
            &:hover {
                @media screen and (min-width: $smallScreen) {
                    background-color: $mauve;
                    margin-bottom: 1em;
                }
            }
            @media screen and (max-width: $smallScreen) {
                padding: 0.25em;
            }
        }
    }

    .ShopSectionHeader {
        font-family: $headerFont;
        // border-bottom: solid 1px black;
        margin: 1em 0;
        text-align: left;
        padding-left: 0.5em;
        font-size: 4em;
        color: $lightGold;
        @media screen and (max-width: $smallScreen) {
            font-size: 3em;
            width: 80%;
            flex-wrap: wrap;
        }
    }
    .ShopSection {
        width: 100%;

        .sectionBody {
            display: flex;
            flex-flow: wrap;
            justify-content: space-evenly;
            align-items: flex-start;
            // &.single {
            //     justify-content: flex-start;
            //     padding-left: 5em;
            //     @media screen and (max-width: $smallScreen) {
            //         justify-content: space-evenly;
            //         padding-left: 0;
            //     }
            // }
            &.twoBy {
                padding: 0 15%;
                @media screen and (max-width: 750px) {
                    padding: 0;
                }
            }
            .productContainer {
                width: 28.5%;
                margin-bottom: 4em;

                @media screen and (max-width: 750px) {
                    width: 44%;
                }
                display: inline-flex;
                justify-content: center;
                align-items: center;
                // background-color: rgba(black, 0.5);
                border-radius: 10px;
                vertical-align: top;
                &.single {
                    width: 35%;

                    @media screen and (max-width: 750px) {
                        width: 44%;
                    }
                }
                &.twoBy {
                    width: 42%;
                    @media screen and (max-width: 750px) {
                        width: 44%;
                    }
                }

                .shopify-buy-frame {
                    display: flex;
                    justify-content: space-evenly;
                    .shopify-buy__product {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 3em;
                        > * {
                            margin: 0 !important;
                        }
                        .shopify-buy__product-img-wrapper {
                            width: 100%;
                            //this is the left panel, the image panel
                            .main-image-wrapper {
                                //image container
                                .shopify-buy__product__variant-img {
                                    //actual image
                                }
                            }
                            .shopify-buy__carousel {
                                margin: 0;
                                min-height: unset;
                                padding: 2em 1em;
                                display: flex;
                                flex: 1;
                                justify-content: center;
                                align-items: center;
                                flex-flow: wrap;
                            }
                        }
                        .shopify-buy__product__title {
                            //title
                            color: white;
                            width: auto;
                            float: none;
                            margin: 0;
                            text-align: center;
                            // padding: 1em .50 0.5em;
                            min-height: 3.5em;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            font-family: $headerFont;
                            font-weight: 400;
                            display: none;
                            @media screen and (max-width: 800px) {
                                font-size: 1.5em;
                            }
                        }
                        .shopify-buy__product__price {
                            //price container
                            span {
                                //price
                                color: $lightGold;
                                padding: 0.75em;
                                font-family: $sansFont;
                                font-weight: 800;
                                font-size: 1.85em;
                            }
                        }
                        .shopify-buy__product__variant-selectors {
                            padding: 0.5em 0 1em 0;
                        }
                        .shopify-buy__btn-and-quantity {
                            //cart button & quantity selector
                            margin: 0;
                            display: flex;
                            flex: 1;

                            //quantity container
                            .shopify-buy__quantity {
                                //quantity input
                            }
                            .shopify-buy__btn-wrapper {
                                //cart button container
                                .shopify-buy__btn.shopify-buy__beside-quantity {
                                    //actual cart button
                                    height: 100%;
                                    padding: 0 1em;

                                    @media screen and (max-width: $smallScreen) {
                                        padding: 0;
                                    }
                                }
                            }
                        }

                        .shopify-buy__product-description {
                            //description
                            font-size: 1.25em;
                            color: white;
                            display: flex;
                            flex-direction: column;
                            flex: 1;
                            /* background: blue; */
                            height: 100%;

                            text-align: center;
                            font-family: $sansFont;
                            font-weight: bold;
                            span {
                                text-align: left;
                                font-size: 0.8em;
                            }
                            p {
                                color: white;
                                text-align: left;
                                display: flex;
                                align-items: flex-start;
                                flex-direction: column;
                                &:first-child {
                                    font-size: 1.1em;
                                    text-align: center;
                                    padding: 1.5em 0em;
                                }
                                &:last-of-type {
                                    font-size: 1em;
                                }
                                span {
                                    text-align: left;
                                }
                            }
                            ul {
                                color: white;
                                text-align: left;
                                font-family: $sansFont;
                                font-weight: 300;
                                font-size: 1em;
                                li {
                                    font-family: $sansFont;
                                    font-weight: 400;
                                    p {
                                        padding: 0 !important;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
