$lightGreen: #a2d0a2;
$green: #60825a;
$beige: #f4eeed;
$lightPink: #efd9d1;
$darkPink: #c99f92;
$lightText: #efefef;

$cursiveFont: "Dancing Script";
$sansFont: "Open Sans";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Dancing+Script:wght@700&display=swap");


